body{
    background-color: coral;
    background-size: cover;
    background-position: center;
}
h1{ 
    text-align: center;
    color:black ;
}
h2{ 
    text-align: center;
    color:blanchedalmond ;
}

