body{
  background-image: url("Homeimage/giphy-4.gif");
  background-size: cover;
  background-position: center;
}
h1 {
  color:#D99830;
  font: size 50p;
}
h2{
  color: #f34e3f;
  font: size 10p;
}
img{
  padding: 20px;
}