body{
    
    background-image: url("image/giphy-4.gif");
    background-size: cover;

}
h1{ 
    text-align: center;
    color: coral;
    font-size:xx-large;
} 

h2{ 
    color:#EF7C8E;
    font-size:large;
} 
p{
    text-align: center;
    color: chartreuse;
}