.wrapper{
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    boreder: 1px solid #000;
  }
  .phone{
  display:flex;
  flex-direction: column;
  border: 1px solid #000;
  width:71.4mm;
  height: 150.9mm;
  padding: 10%;
  }
  .row{
   displace:flex;
   flex-direction:row;
    border: 2px solid green;
    margin: 16px;
    display: flex;
  
    
  }
  .box{
    height: 48px;
    width: 48px;
    background: blue;
    margin: 2px;
    border-radius: 15px;
    justify-content: space-between
  }